@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menuToggle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fffffff6;
    border-radius: 50%; /* Ensure perfect circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.menuToggle::before {
    content: '+';
    position: absolute;
    font-size: 2.8em;
    font-weight: 550;
    color: #087fe0;
    transition: transform 1.5s, color 0.3s ease;
}

.menuToggle.active::before {
    transform: rotate(315deg);
    color: #e74c3c;
}

.menu {
    position: absolute;
    width: 0;
    height: 0;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active ~ .menu {
    align-items: center;
    justify-content: center;  /* Untuk menempatkan menu di tengah secara horizontal */
    display: flex;
    width: 350px;
    height: 50px;
    z-index: 1;
    transform: translateY(-27vh);
    transition-delay: 0s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    bottom: 4px;
    transform: rotate(45deg) translateY(-30%);
    border-radius: 2px;
    transition: 0.5s;
}

.menuToggle.active ~ .menu::before {
    transition-delay: 0.5s;
    bottom: -6px;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100vh);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
}

.menuToggle.active ~ .menu ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: calc(0.75s + var(--i));
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    color: #2cb5cd;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu ul li a i {
    font-size: 15px;
    margin-right: 10px; /* Add space between icon and text */
}

.menu ul li a:hover {
    color: #224afc;
    transform: scale(1.1);
}
